{% load i18n %}

<div class="modal fade" id="{{ generator_modal_id}}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
		<h4 class="modal-title">{{ generator_modal_title }}</h4>
			</div>
			<div class="modal-body">
				{% block modal_body %}{% endblock %}
			</div>
			<div class="modal-footer">
				{% block modal_footer %}
				<button type="button" class="btn btn-default" data-dismiss="modal">
					{% trans 'Ok' %}
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					{% trans 'cancel' %}
				</button>
				{% endblock %}
			</div>
		</div>
	</div>
</div>
