{% extends 'base.html' %}

{% load i18n        %}
{% load staticfiles %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block css %}
<link href="{% static "css/styles.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Login</h1>
			</div>
			<div class="modal-body">
				<form class="form col-md-12 center-block" action="{% url 'auth_login' %}" method="POST">
					{% csrf_token %}
					{% if user and not user.is_anonymous %}
					<div class="form-group">
						{% blocktrans %}You are currently logged as {% endblocktrans %}{{ user.get_full_name|default:user.username }}!
						<a class="btn btn-info btn-lg btn-block" role="button" href="/logout">
							{% trans 'Logout' %}
						</a>
						<a class="btn btn-info btn-lg btn-block" role="button" href="/">
							{% trans 'Home' %}
						</a>
					</div>
					{% else %}
					<div class="form-group">
						<input type="text" name="username" class="form-control input-lg" placeholder="Login">
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control input-lg" placeholder="Password">
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-lg btn-block">Sign In</button>
						<a class="btn btn-info btn-lg btn-block" role="button"
							 href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
							{% trans 'Login with Google' %}
						</a>
					</div>
					{% endif %}
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-md-12"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
