{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Good bye" %}{% endblock %}

{% block main %}
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">{% trans "Logout" %}</h1>
			</div>
			<div class="modal-body">
				<form class="form col-md-12 center-block" action="{% url 'login' %}" method="POST">
					<div class="form-group">
						<input type="text" name="username" class="form-control input-lg" placeholder="Login">
					</div>
					<div class="form-group">
						<div class="highlight">
							<h1>{% trans  "You have successfully loged out" %}</h1>
							<br/>
							<br/>
							{% trans "Please don't go. The drones need you. They look up to you."}
						</div>
					</div>
					<div class="form-group">
						<a class="btn btn-primary btn-lg btn-block" role="button" href="#" onclick="close_window();return false;">
							{% trans "Close page" %}
						</a>
						<a class="btn btn-info btn-lg btn-block" role="button"  href="/">
							{% trans "One more turn" %}
						</a>
					</div>
					{% endif %}
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-md-12"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
