{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Good bye" %}{% endblock %}

{% block main %}
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">{% trans "Logout" %}</h1>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<h2>{% trans  "You have successfully logged out" %}</h2>
				</div>
				<div class="form-group">
					"{% trans "Please don't go. The drones need you. They look up to you." %}"
				</div>
				<div class="form-group">
					<a class="btn btn-info btn-lg btn-block" role="button"  href="/">
						{% trans "Ho Nooo...One more turn" %}
					</a>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-md-12"></div>
			</div>
		</div>
	</div>
</div>

<audio loop src=""></audio>
{% endblock %}
