.modal-footer {
    border-top: 0px;
}

#instructions {
    margin-top: 40px;
}

.jumbotron form {
    font-size: 14px;
}

.btn-block {
    margin-bottom: 10px;
}

.delete_account_link {
    color: red;
}

#list_accounts_form .glyphicon {
    display       : inline-block;
    font-size     : 20px;
    vertical-align: middle;
}

#list_accounts_form th, #list_accounts_form tr{
    font-size      : 18px;
    text-align     : center;
    vertical-align : middle;
}

#list_accounts_form td {
    vertical-align: middle;
}

#list_accounts_form {
    background-color: white;
}

#list_accounts_form img{
    width : 100px;
    height: 100px;
}

.admin_preview {
    margin-bottom: 10px;
}
