.modal {
    position: relative; !important
}

.modal-footer {
    border-top: 0px;
}

#instructions {
    margin-top: 40px;
}

.jumbotron form {
    font-size: 14px;
}

.btn-block {
    margin-bottom: 10px;
}